// Colors

$off-black: #151821;
$light-purple: #a5afd7;
$purple: #7F46CA;
$dark-blue: #272B3E;
$blue: #303745;
$light-blue: #3B3E54;

// Spacing
$s-size:1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;